* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.intro-container {
  display: flex;
  justify-content: center;
  margin: 10rem;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom right,
    rgba(221, 165, 96, 0.5),
    rgba(49, 8, 182, 0.25)
  );
  position: absolute;
  z-index: 10;
}

.intro-text {
  white-space: pre-line;
  color: white;
}

.day-text:hover {
  color: rgba(146, 85, 9, 0.5);
}

.night-text:hover {
  color: navy;
}

.night {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(21, 2, 82, 0.25);
}

.back-arrow {
  position: absolute;
  top: -25px;
  left: -10px;
  z-index: 10;
  width: 150px;
}
