* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Zuka Doodle';
  src: url('./images/ZukaDoodle.ttf') format('opentype');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.click-here {
  position: absolute;
  font-family: 'Zuka Doodle';
  font-size: 3em;
  color: lightskyblue;
  top: 20px;
  left: 30px;
}

.click-here-subhead {
  position: absolute;
  font-family: 'Zuka Doodle';
  font-size: 2em;
  color: lightskyblue;
  top: 90px;
  left: 200px;
}

.intro-container {
  display: flex;
  justify-content: center;
  margin: 10rem;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom right,
    rgba(221, 165, 96, 0.5),
    rgba(49, 8, 182, 0.25)
  );
  position: absolute;
  z-index: 10;
}

.intro-text {
  white-space: pre-line;
  color: white;
  font-family: 'Zuka Doodle';
  font-size: 2.25em;
}

.day-text:hover {
  color: rgba(146, 85, 9, 0.5);
}

.night-text:hover {
  color: navy;
}

.night {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(21, 2, 82, 0.25);
}

.back-arrow {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 10;
  width: 150px;
}

.sound-icon {
  position: absolute;
  top: 120px;
  left: 40px;
  z-index: 10;
  width: 70px;
}

.block-count-night {
  position: absolute;
  white-space: nowrap;
  top: 0.5px;
  right: 100px;
  z-index: 10;
  width: 150px;
  color: #e9f9f9;
  font-family: 'Zuka Doodle';
  font-size: 3em;
}

.block-count-day {
  position: absolute;
  white-space: nowrap;
  top: 0.5px;
  right: 100px;
  z-index: 10;
  width: 150px;
  color: #8e8bbc;
  font-family: 'Zuka Doodle';
  font-size: 3em;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 160px;
  right: 40px;
}

.menu img {
  display: flex;
  justify-content: center;
  width: 80px;
  padding: 5px;
}

.remove-instructions-night {
  position: absolute;
  white-space: nowrap;
  top: 95px;
  right: 190px;
  z-index: 10;
  width: 150px;
  color: #e9f9f9;
  font-family: 'Zuka Doodle';
  font-size: 1.8em;
}

.remove-instructions-day {
  position: absolute;
  white-space: nowrap;
  top: 95px;
  right: 190px;
  z-index: 10;
  width: 150px;
  color: #8e8bbc;
  font-family: 'Zuka Doodle';
  font-size: 1.8em;
}
